#github{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: red;
    text-align: center;
}
img{
    width: 200px;
    height: 150px;
}
.github2{
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    text-align: center;
}